[Desktop Entry]
Name=Obsidian
Exec=/home/colin/proj/dockerfiles/obsidian/run
Icon=obsidian
StartupNotify=true
StartupWMClass=obsidian
Type=Application
